body{
	background-color: #A1D26E;
	margin: 0;
}
header{
	background-color: #55C2E7;
	padding: 15px;
	border-bottom: 2px solid #434A54;
}
.nav{
	display: flex;

	.logo{
		width: 75px;
		height: 75px;
	}
}

ul{
	display: inline-block;
	padding: 5px;
	display: flex;

	li{
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}
h2{
  /*font-family: 'VT323', monospace;*/
  font-family: 'Roboto', sans-serif;
  line-height: 0;
  padding-bottom: 10px;
}
.userForm{
	margin-bottom: 150px;
	display: flex;
	justify-content: center;
	.logo{
		max-height: 100px;
		padding: 2%;
	}
	form{
		display: flex;
		flex-direction: column;
		padding: 2%;
		.userComment{
			width: 200px;
			height: 100px;
		}

	}
}
.avatar{
	position: absolute;
	left: -70px;
	top: 0;
	border-radius: 3px;
	width: 50px;
	height: 50px;
}

.postCard{
	//DO NOT FLEX, or else photo won't auto resize.
	position: relative;
	margin: 0 auto;
	border: 4px solid #434A54;
	border-radius: 6px;
	background-color: #55C2E7;
	padding: 10px;
	max-width: 50%;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);

	.imgContainer{
		margin: auto;
		width: 50%;
	}
	
	.comment{
	background-color: #9ce4fc;
	font-family: 'Roboto', sans-serif;
	border: 3px solid #434A54;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	border-radius: 6px;
	margin: 20px 0 20px 0;
	padding: 25px;
	max-width: 100%;
	}
	textarea{
	// background-color: #cdedaa;
	font-family: 'Roboto', sans-serif;
	border: 3px solid #434A54;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	border-radius: 6px;
	margin: 20px 0 20px 0;
	width: 40%;
	height: 20%;
	}

}